// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 24px;
}

.question {
  margin: 48px 0;
  border-style: none solid;
  padding: 24px;
}



.answer {
  background-color: yellow;
}
